<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "wings.svg" %>
	</div>

	<div id="content">
		<h1>About</h1>
		<p>Distillery quinoa cold-pressed keffiyeh, kogi cardigan forage cronut ethical umami.
      Hell of helvetica lo-fi portland freegan pork belly.
      Whatever selvage tbh pour-over, umami scenester poutine cold-pressed PBR&B fam keffiyeh quinoa tilde swag man bun.
      Echo park cronut chambray, synth aesthetic tofu helvetica mlkshk knausgaard freegan pork belly biodiesel vice beard.
      Microdosing next level four loko pour-over bespoke, brooklyn +1 health goth wayfarers.
      Hashtag celiac tumblr cliche. Portland shoreditch selvage poutine.</p>
	</div>

    <h4>Feather image credit:</h4>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
